.feature_section{
    padding: 0 10rem;
}

.meetjohnny_section {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.meetjohnny_section_container {
    min-width: 50%;
}

.meetjohnny_section_title {
    margin-bottom: 2rem;
}

.gpt_section {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.gpt_logo_container {}

.gpt_introduction_container {
    width: 50%;
}

.gpt_introductino_title {
    margin-bottom: 2rem;
}

.gpt_introduction_content {}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.gpt_logo_image:hover {
    animation: rotate 4s linear infinite;
}

/*----------Media Query----------*/

@media screen and (max-width: 1200px){
    .feature_section{
        padding: 0 2rem;
    }
}

@media screen and (max-width: 992px){
    .meetjohnny_section_container {
        width: 50%;
    }

    .meetjohnny_section_content{
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px){
    .meetjohnny_section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap:2rem;
        padding-top: 2rem;
    }

    .meetjohnny_section_container {
        width: 100%;
    }

    .meetjohnny_section_title{
        text-align: center;
    }
}

@media screen and (max-width: 576px){
}

@media screen and (max-width: 480px){
}

@media screen and (max-width: 320px){
}