* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  /* background-image: linear-gradient(45deg, #1a1a1a, #000000);
  background-image: linear-gradient(45deg, #1a1a1a, #000000); */
  background-color: #1a1a1a;
}

a {
  color: white;
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

p{
  line-height: 2rem;
}