header {
    height: 3rem;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 10rem;
    box-shadow: 0 4px 4px -4px rgba(210, 210, 210, 1);
}

.logo_container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo_image {
    border-radius: 2rem;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.language_menu {
    position: relative;
    display: flex;
    border: 2px solid white;
    border-radius: 20px;
    padding: 0.5rem 0.8rem
}

.selected_language {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.options_menu {
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    top: 37px;
    border: 2px solid white;
    border-radius: 5px;
}

.language_menu:hover .options_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.language_option {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}

.language_option:hover {
    background-color: rgb(57, 148, 255);
}

.language_option_link {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 0.5rem
}

.hamburger_button {
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 1000;
    display: none;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    transition: transform 0.2s;
}

.bar_active {
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg);
}

.bar_active:last-of-type {
    transform: rotate(-45deg);
}



.mobile_menu_container {
    position: fixed;
    left: -200%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.mobile_menu_container_active {
    left: 0;
}

.mobile_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

/*----------Media Query----------*/

@media screen and (max-width: 1200px) {
    header {
        padding: 2.5rem 2rem;
    }
}

@media screen and (max-width: 992px) {
    .logo_container {
        gap: 0.5rem
    }

    .logo_image {
        height: 30px;
        width: 30px;
    }

    .logo_text {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .hamburger_button {
        display: flex;
    }

    .menu {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .logo_text {
        font-size: 1rem;
    }

    .selected_language {
        font-size: 0.75rem;
    }

    .language_option_link {
        font-size: 0.75rem;
    }

    .options_menu{
        top:33px
    }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 320px) {}