header {
    height: 3rem;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 10rem;
    box-shadow: 0 4px 4px -4px rgba(210, 210, 210, 1);
}

.logo_container {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo_image {
    border-radius: 2rem;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.language_menu {
    position: relative;
    display: flex;
    border: 2px solid white;
    border-radius: 20px;
    padding: 0.5rem 0.8rem
}

.selected_language {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.options_menu {
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    top: 37px;
    border: 2px solid white;
    border-radius: 5px;
    /* padding: 1rem 0.5rem */
}

.language_menu:hover .options_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.language_option {
    display: block;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

}

.language_option:hover{
    background-color: rgb(57, 148, 255);
}

.language_option_link {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
    padding:0.5rem 
}
